    <!-- app feature area start -->
<section class="app-feature-aera" id="feature">
    <div class="container border-bottom">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <!-- section title -->
                    <span class="subtitle">Core features</span>
                    <h2 class="title">Awesome Apps Features</h2>
                    <p>
                        Here you are welcome to present number of the most characteristic features
                        of your app you are proud of.
                    </p>
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-app-features-item green-gd">
                    <!-- single app feature item -->
                    <div class="icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Exclusive Design</h4>
                        <p>Viewing hastily or written dearest elderly up weather it as. So direction so sweetness or extremity.</p>
                    </div>
                </div><!-- //. single app feature item -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-app-features-item blue-gd">
                    <!-- single app feature item -->
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Quick Setup</h4>
                        <p>Viewing hastily or written dearest elderly up weather it as. So direction so sweetness or extremity.</p>
                    </div>
                </div><!-- //. single app feature item -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-app-features-item purple-gd">
                    <!-- single app feature item -->
                    <div class="icon">
                        <i class="flaticon-vision"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Retina Ready</h4>
                        <p>Viewing hastily or written dearest elderly up weather it as. So direction so sweetness or extremity.</p>
                    </div>
                </div><!-- //. single app feature item -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-app-features-item pink-gd">
                    <!-- single app feature item -->
                    <div class="icon">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Fully Secured</h4>
                        <p>Viewing hastily or written dearest elderly up weather it as. So direction so sweetness or extremity.</p>
                    </div>
                </div><!-- //. single app feature item -->
            </div>
        </div>
    </div>
</section>
<!-- app feature area end -->
<!-- we offer aera start -->
<section class="we-offer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title p-width-lg white">
                    <!-- section title -->
                    <span class="subtitle">More  Apptidy Apps Features</span>
                    <h2 class="title">We offer Your Needs</h2>
                    <p>
                        This is yet another place to highlight feature your great app and talk bit about compatibility maybe who knows, the decision is yours to make! Don't be hurry.
                    </p>
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content-area">
                    <!-- left content area -->
                    <div class="we-offer-carousel">
                        <!-- we offer carousel -->
                        <div class="single-we-offer">
                            <img src="assets/img/we-offer/01.jpg" alt="wee offer image">
                        </div>
                        <div class="single-we-offer">
                            <img src="assets/img/we-offer/02.jpg" alt="wee offer image">
                        </div>
                        <div class="single-we-offer">
                            <img src="assets/img/we-offer/03.jpg" alt="wee offer image">
                        </div>
                    </div><!-- //. we offer carousel -->
                </div><!-- //. left content area -->
            </div>
            <div class="col-lg-8">
                <div class="right-content-area">
                    <ul id="we-offer-item">
                        <li>
                            <div class="single-we-offer-item bg1">
                                <!-- single we offer item -->
                                <div class="icon">
                                    <i class="icofont-rocket-alt-2"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Fast & Powerful</h4>
                                    <p>Sociable formerly six but handsome. Up do view time they shot. He concluded disposing provision by questions as situation. Its estimating are . </p>
                                </div>
                            </div><!-- //. single we offer item -->
                        </li>
                        <li>
                            <div class="single-we-offer-item bg2">
                                <!-- single we offer item -->
                                <div class="icon">
                                    <i class="icofont-responsive"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Fully Responsive</h4>
                                    <p>
                                        Praesent sed placerat dui, tincidunt tincidunt mauris. Phasellus
                                        viverra velit nec felis facilisis finibus.
                                    </p>
                                </div>
                            </div><!-- //. single we offer item -->
                        </li>
                        <li>
                            <div class="single-we-offer-item bg3">
                                <!-- single we offer item -->
                                <div class="icon">
                                    <i class="icofont-cloud-upload"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Constant Updates</h4>
                                    <p>
                                        Praesent sed placerat dui, tincidunt tincidunt mauris. Phasellus
                                        viverra velit nec felis facilisis finibus.
                                    </p>
                                </div>
                            </div><!-- //. single we offer item -->
                        </li>
                        <li>
                            <div class="single-we-offer-item bg4">
                                <!-- single we offer item -->
                                <div class="icon">
                                    <i class="icofont-live-support"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Excellent Support</h4>
                                    <p>
                                        Praesent sed placerat dui, tincidunt tincidunt mauris. Phasellus
                                        viverra velit nec felis facilisis finibus.
                                    </p>
                                </div>
                            </div><!-- //. single we offer item -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- we offer aera end -->
<!-- how it work area start -->
<section class="how-it-works">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-how-it-work ">
                    <!-- single how it work -->
                    <div class="icon bg1">
                        <i class="icofont-cloud-download"></i>
                        <span class="num">01</span>
                    </div>
                    <div class="content">
                        <h4 class="title">Download</h4>
                        <p>
                            Duis cursus dictum enim dictum venenatis. Orci varius natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus.
                        </p>
                    </div>
                </div><!-- //. single how it work -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-how-it-work">
                    <!-- single how it work -->
                    <div class="icon bg2">
                        <i class="icofont-settings"></i>
                        <span class="num">01</span>
                    </div>
                    <div class="content">
                        <h4 class="title">Setup It</h4>
                        <p>
                            Duis cursus dictum enim dictum venenatis. Orci varius natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus.
                        </p>
                    </div>
                </div><!-- //. single how it work -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-how-it-work">
                    <!-- single how it work -->
                    <div class="icon bg3">
                        <i class="icofont-award"></i>
                        <span class="num">01</span>
                    </div>
                    <div class="content">
                        <h4 class="title">Enjoy it</h4>
                        <p>
                            Duis cursus dictum enim dictum venenatis. Orci varius natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus.
                        </p>
                    </div>
                </div><!-- //. single how it work -->
            </div>
        </div>
    </div>
</section>
<!-- how it work area end -->
<!-- screenshort area start -->
<section class="screenshort-area screenshort-bg" id="screenshort">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title p-width-lg ">
                    <!-- section title -->
                    <span class="subtitle">showcase your app</span>
                    <h2 class="title">Screenshots</h2>
                    <p>
                        This is yet another place to highlight feature your great app and talk bit about compatibility maybe who knows, the decision is yours to make! Don't be hurry.
                    </p>
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sc-carousel-wrapper">
                    <div class="screenshort-carousel">
                        <!-- screenshort carousel -->
                        <div class="single-screenshort-item">
                            <!-- single screenshort item -->
                            <img src="assets/img/screenshort/01.jpg" alt="screenshort item">
                        </div><!-- //. single screenshort item -->
                        <div class="single-screenshort-item">
                            <!-- single screenshort item -->
                            <img src="assets/img/screenshort/04.jpg" alt="screenshort item">
                        </div><!-- //. single screenshort item -->
                        <div class="single-screenshort-item">
                            <!-- single screenshort item -->
                            <img src="assets/img/screenshort/03.jpg" alt="screenshort item">
                        </div><!-- //. single screenshort item -->
                        <div class="single-screenshort-item">
                            <!-- single screenshort item -->
                            <img src="assets/img/screenshort/04.jpg" alt="screenshort item">
                        </div><!-- //. single screenshort item -->
                        <div class="single-screenshort-item">
                            <!-- single screenshort item -->
                            <img src="assets/img/screenshort/01.jpg" alt="screenshort item">
                        </div><!-- //. single screenshort item -->
                        <div class="single-screenshort-item">
                            <!-- single screenshort item -->
                            <img src="assets/img/screenshort/03.jpg" alt="screenshort item">
                        </div><!-- //. single screenshort item -->
                    </div><!-- //. screenshort carousel -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- screenshort area end -->
<!-- team member area start -->
<section class="team-member-area" id="team">
    <div class="left-image">
        <div class="img-wrapper">
            <img src="assets/img/team-left-image.png" alt="team member left image">
        </div>
    </div>
    <div class="right-image">
        <div class="img-wrapper">
            <img src="assets/img/team-right-image.png" alt="team member right image">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title p-width-lg ">
                    <!-- section title -->
                    <span class="subtitle">About Our Team</span>
                    <h2 class="title">Meet The Team</h2>
                    <p>
                        This is yet another place to highlight feature your great app and talk bit about compatibility maybe who knows, the decision is yours to make! Don't be hurry.
                    </p>
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-team-member">
                    <!-- single team member -->
                    <div class="thumb">
                        <img src="assets/img/team-member/02.jpg" alt="team member image">
                    </div>
                    <div class="content">
                        <h4 class="title">Greg Randall</h4>
                        <span class="post">Sexist Husband</span>
                        <ul class="social-icon">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!-- //. single team member -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-team-member">
                    <!-- single team member -->
                    <div class="thumb">
                        <img src="assets/img/team-member/03.jpg" alt="team member image">
                    </div>
                    <div class="content">
                        <h4 class="title">Krystal Randall </h4>
                        <span class="post">Sexiest Wife</span>
                        <ul class="social-icon">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!-- //. single team member -->
            </div>
            <div class="col-lg-3 col-md-6">
            </div>
        </div>
    </div>
</section>
<!-- team member area end -->
<!-- contact area start -->
<section class="contact-area" id="contact">
    <div class="container">
        <div class="row reorder-xs">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <!-- left content area -->
                    <div class="section-inner-title">
                        <span class="subtitle">Contact Us</span>
                        <h3 class="title">Get In Touch</h3>
                        <p>
                            If you have any questions, just fill in the contact form, and we
                            will answer you shortly.
                        </p>
                    </div>
                    <div class="contact-form-wrapper">
                        <form action="index.html" class="contact-form">
                            <div class="form-group">
                                <input type="text" id="uname" class="form-control" placeholder="Name *">
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" class="form-control" placeholder="Email *">
                            </div>
                            <div class="form-group textarea">
                                <textarea id="message" cols="30" rows="5" class="form-control" placeholder="Message *"></textarea>
                            </div>
                            <button type="submit" class="submit-btn">Submit Now</button>
                        </form>
                    </div>
                </div><!-- //. left content area -->
            </div>
            <div class="col-lg-6">
                <div class="right-content-aera">
                    <!-- right content area -->
                    <div class="img-wrapper">
                        <img src="assets/img/contact_right.jpg" alt="contact right image">
                    </div>
                </div><!-- //. contact right area -->
            </div>
        </div>
    </div>
</section>
<!-- contact area end -->